.loginWrapper{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1400px;
    background-color: #3b76ef;
    display: flex;
    justify-content: center;
}

/* --------------- Page Animation ------------------*/
.loginWrapper .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.loginWrapper .show{
    transition: all 1s;
    opacity: 1;
    filter: blur(0);
    
}

/* --------------- Page Animation ^ ------------------*/

.loginContainer{
    width: 440px;
    position: absolute;
    top: 100px;
    height: 400px;
    border-radius: 12px;
    background: #EFF2F8;
    box-shadow: 8px -9px 18px 0px rgba(0, 0, 0, 0.20);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


 .loginSky{
    width: 100%;
    height: 382px;
    position: absolute;
    top: 500px;
    background-image: url(../../images/login-images/Group\ 21LoginSky\(moving\).svg);
   
    
}

/* ----------------------- */

.whiteBack{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 850px;
    background-color: #fff;
}

@media only screen and (max-width: 999px) {
    .loginContainer{
        width: 80%;
        min-width: 250px;
        position: absolute;
        height: 400px;
        border-radius: 12px;
        background: #EFF2F8;
        box-shadow: 8px -9px 18px 0px rgba(0, 0, 0, 0.20);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

}